* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html {
    height: 100%;
}

body {
    font-size: 17px;
    background: url("../images/wooden-board-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    height: 4rem;
    display: flex;
    align-items: center;
}

.header a {
    font-weight: bold;
    text-decoration: none;
    text-shadow: 2px 2px 3px rgb(0, 0, 0);
    color: #949494;
    margin: 0px 1rem;
    transition: all 0.3s;
}

.header a:hover {
    font-size: 1.3rem;
}

.header .a-selected {
    color: #ffffff;
}

.section {
    margin-top: 3rem;
    width: 32rem;
    min-height: 15rem;
    padding: 0.6rem;
    background: #ffffff;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.section > div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
}

.section input {
    padding: 0.3rem;
    text-align: center;
}

.section #anos, .section #meses, .section #dias {
    width: 3rem;
}

.section #div-respuesta1 {
    display: none;
    height: 2rem;
    flex-direction: column;
}

.section #div-respuesta2 {
    display: none;
    height: 2rem;
    flex-direction: column;
}

.section button {
    padding: 0.4rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    border-color: #2675b6;
    background: #4586bb;
}

@media screen and (max-width: 700px) {
    body {
        font-size: 14px;
    }

    .section {
        width: 27rem;
    }
}